.OrderInfoList__QuickLinks .stretched.row {
    padding: 0 !important;
}

.OrderInfoList__QuickLinks .OrderInfoList__QuickLinks__Guide {
    background: #a2c85480 !important;
}

.OrderInfoList__QuickLinks .OrderInfoList__QuickLinks__Guide {

}
