.Navigation {
  border-top: 8px solid #009640 !important;
}
.Navigation__Menu__Item {
  color: #009640 !important;
  border-color: transparent;
}
.ui.container {
  justify-content: space-between;
}
.Navigation__Logo {
  border-top: 10px solid #A2C854;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: -10px;
  margin-right: 2em;
}
.Navigation__Logo svg {
  height: 32px !important;
  opacity: 1 !important;
}
.Navigation__CurrentService h3 {
  text-transform: uppercase !important;
}
.divider {
  flex: 1;
}
