.Favorite {
  border-radius: 0 !important;
  border: 0 !important;
  position: relative;
  box-shadow: 0 0 0 0px #d4d4d5, 0 5px 0 0 #009640, 0 0px 0px 0 #d4d4d5 !important;
}
.Favorite.disabled {
  opacity: .3;
}
.Favorite:hover {
  background: #009640 !important;
}

.Favorite:hover .Favorite__Header,
.Favorite:hover .Favorite__Icon {
  color: white !important;
}

.Favorite__Content {
  display: flex;
  align-items: center !important;
  flex-direction: column;
  height: 13em;
}
.Favorite__Content a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  color: black;
  font-weight: bold;
}

.Favorite__Icon {
  flex: 1;
  margin-top:1em !important;
  font-size: 3em !important;
  color: #009640;
}
.Favorite__Header {
  flex: 1;
  font-size: 1.6em !important;
  text-align: center;
}

.Favorite__remove {
  position: absolute;
  top: 0;
  right: 0em;
  opacity: 1 !important;
  color: white !important;
  background: transparent !important;
  padding: 0.5em 0 0.5em 0 !important;
}
.Favorite__remove:hover {
  color: black !important;
}
