.OrderInfoFilter__Field {

}

.OrderInfoFilter__Field--Date {
    display: block !important;
}
.OrderInfoFilter__Field--Date input {
    width: 100% !important;
}

.OrderInfoFilterHorizontal {
    position: fixed;
    top: 0;
    background: white;
}