.ServiceSearch {
  margin-top: 3rem;
}
.ServiceSearch__Filter {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.ServiceSearch__Menu__Item.active {
  font-weight: 700 !important;
  border-color: #009640 !important;
}
.ServiceSearch__Menu__Item--Searchbox {
  padding-right: 0 !important;
}
.Results {
  background: white !important;
  margin-top: 0px !important;
}
.Results h4 {
  color: #009640 !important;
}
.Results__Menu__Item {
}
.Results__Menu__Item__Icon {
  float: left !important;
  margin: 0 1em 0 0 !important;
}
.Results .Favorite__remove {
  padding: 1em 0 !important;
  color: grey !important;
}
