.OrderInfoListAccordion {
    background: white;
}

.OrderInfoListAccordion__Header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 0.61rem;
}

.OrderInfoListAccordion__Header__Item {
    flex: auto;
}

.OrderInfoListAccordion__Header__Item--Search {
    justify-content: end;
    flex: auto;
}

.OrderInfoListAccordion__Header__Item--Status {
    flex: 100%;
}

.OrderInfoListAccordion__QuickLinks .stretched.row {
    padding: 0 !important;
}

.OrderInfoListAccordion__QuickLinks .OrderInfoListAccordion__QuickLinks__Guide {
    background: #a2c85480 !important;
}

.OrderInfoListAccordion__QuickLinks .OrderInfoListAccordion__QuickLinks__Guide {

}

.OrderInfoListAccordion__Results .content,
.OrderInfoListAccordion__Results .title
 {
    padding: 0 !important;
}

.OrderInfoListAccordion__Article__Header {
    display: flex;
}

.OrderInfoListAccordion__Results__Header {
    border-bottom: .4rem solid white !important;
    width: 100%;
}

.OrderInfoListAccordion__Results__Header__Cell,
.OrderInfoListAccordion__Article__Header__Cell {
    height: 3rem;
    color: white;
    font-weight: bold;
    background: grey;
    position: relative;
    cursor: pointer;
}

.OrderInfoListAccordion__Results__Header__Cell .icon ,
.OrderInfoListAccordion__Article__Header__Cell .icon {
    position: absolute;
    right: 0;
    top: 1rem;
    display: none;
}

.OrderInfoListAccordion__Results__Header__Cell:hover .icon ,
.OrderInfoListAccordion__Article__Header__Cell:hover .icon {
    display: block;
}


.OrderInfoListAccordion__Results__Header,
.OrderInfoListAccordion__Results__Item,
.OrderInfoListAccordion__Article__Header,
.OrderInfoListAccordion__Article__Item {
    display: flex;
}

.OrderInfoListAccordion__Articles {
    border-left: 8px solid grey;
}

.OrderInfoListAccordion__Results__Header__Cell,
.OrderInfoListAccordion__Results__Item__Cell,
.OrderInfoListAccordion__Article__Header__Cell, 
.OrderInfoListAccordion__Article__Item__Cell  {
    padding: 0 0.5rem;
    display: flex;
    height: 3rem;
    align-items: center;
    flex: 1;
    border-right: 1px solid #FFFFFF80;
}

.OrderInfoListAccordion__Article__Header__Cell, 
.OrderInfoListAccordion__Article__Item__Cell  {
    border: none;
}

.OrderInfoListAccordion__Article__Header__Cell:nth-child(6),
.OrderInfoListAccordion__Article__Header__Cell:nth-child(7),
.OrderInfoListAccordion__Article__Item__Cell:nth-child(6),
.OrderInfoListAccordion__Article__Item__Cell:nth-child(7)
 {
    flex: 0 0 7rem;
    text-align: right;
    justify-content: center;
}
.OrderInfoListAccordion__Results__Header__Cell:nth-child(1),
.OrderInfoListAccordion__Results__Item__Cell:nth-child(1),
.OrderInfoListAccordion__Article__Header__Cell:nth-child(1),
.OrderInfoListAccordion__Article__Item__Cell:nth-child(1)
{
    flex: 0 0 7rem;
}

.OrderInfoListAccordion__Article__Header__Cell:nth-child(2),
.OrderInfoListAccordion__Article__Item__Cell:nth-child(2)
{
    flex: 0 0 40rem;
}

.OrderInfoListAccordion__Article__Header__Cell:nth-child(7),
.OrderInfoListAccordion__Article__Item__Cell:nth-child(7) {
    border-right: none;
}

.OrderInfoListAccordion__Article__Item:nth-child(odd) {
    background: #a2c85430;
}

.OrderInfoListAccordion__Results__Item.active {
    background: grey;
    border-color: grey;
    font-weight: bold;
}
.OrderInfoListAccordion__Results__Item.active .OrderInfoListAccordion__Results__Item__Cell {
    color: white;
}

.OrderInfoListAccordion__Results__Item:hover,
.OrderInfoListAccordion__Article__Item:hover {
    background: #8d8d8e30;
}

.OrderInfoListAccordion__Results__Item.active:hover {
    background: grey;
}
.OrderInfoListAccordion__Results__Item.active .OrderInfoListAccordion__Results__Item__Cell:nth-child(1) > .icon {
    transform: rotateZ(90deg);
}