.OrderInfoList {
    background: white;
}

.OrderInfoList__Header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 0.61rem;
}

.OrderInfoList__Header__Item {
    flex: auto;
}

.OrderInfoList__Header__Item--Search {
    justify-content: end;
    flex: auto;
}

.OrderInfoList__Header__Item--Status {
    flex: 100%;
}

.OrderInfoList__QuickLinks .stretched.row {
    padding: 0 !important;
}

.OrderInfoList__QuickLinks .OrderInfoList__QuickLinks__Guide {
    background: #a2c85480 !important;
}

.OrderInfoList__QuickLinks .OrderInfoList__QuickLinks__Guide {

}

.OrderInfoList__Results {}

.OrderInfoList__Results__Header {
    border-bottom: .4rem solid white !important;
}

.OrderInfoList__Results__Header th {
    height: 4rem;
}

.OrderInfoList__Position {
    height: 3rem;
}

.OrderInfoList__Position--Order:nth-child(odd) {
    background: #a2c85480;
}

.OrderInfoList__Position--Order:nth-child(even) {
    background: #8d8d8e80;
}

.OrderInfoList__Cell--UnitPrice,
.OrderInfoList__Cell--Price {
    white-space: nowrap;
    text-align: right;
}

.OrderInfoList__Cell--Status,
.OrderInfoList__Cell--Return {
    text-align: center;
}

.OrderInfoList__Cell--ArticleNumber,
.OrderInfoList__Cell--Name,
.OrderInfoList__Cell--Quantity,
.OrderInfoList__Cell--UnitPrice,
.OrderInfoList__Cell--Price,
.OrderInfoList__Cell--Status,
.OrderInfoList__Cell--Return {
    /* background: #a2c85433; */
}